<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<link href="/assets/css/styles.css" rel="stylesheet" />
<title>Crear pasajero</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid justify-content-end">
				<button class="navbar-toggler custom-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end"
					id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" href="/pasajeros/pasajeros">Pasajeros
						</a> <a class="nav-link" href="/destinos/destinos">Destinos</a> <a
							class="nav-link" href="/pasajeros/crear">Nuevo Pasajero</a> <a
							class="nav-link" href="/destinos/crear">Nuevo Destino</a>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h3>Registrar Pasajero</h3>
			<form th:action="@{/pasajeros/crear}" th:object="${pasajero}"
				method="post">
				<div class="form-row">
					<div class="col-md-6 form-group">
						<label>Rut</label> <input type="text" class="form-control"
							th:field="*{rut}">
					</div>
					<div class="col-md-6 form-group">
						<label>Nombre</label> <input type="text" class="form-control"
							th:field="*{nombre}">
					</div>
					<div class="col-md-6 form-group">
						<label>Apellido</label> <input type="text" class="form-control"
							th:field="*{apellido}">
					</div>
					<div class="col-md-6 form-group">
						<label>Edad</label> <input type="number" class="form-control"
							th:field="*{edad}">
					</div>
					<div class="col-md-6 form-group">
						<label>Ciudad Natal</label> <input type="text"
							class="form-control" th:field="*{ciudadNatal}">
					</div>
					<div class="col-md-6 form-group py-2">
						<button type="submit" class="btn btn-primary">Agregar</button>
					</div>

				</div>
			</form>
		</div>
		<div class="col-sm-2">
			<p></p>
		</div>
	</div>
</body>
</html>